<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static  %} 
    <link rel="icon" href= {% static 'nino/images/favicon.ico' %}  type="image/x-icon">
    <link rel="stylesheet" type="text/css" href= {% static 'nino///fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900' %} >
    <link rel="stylesheet" href= {% static 'nino/css/bootstrap.css' %} >
    <link rel="stylesheet" href= {% static 'nino/css/fonts.css' %} >
    <link rel="stylesheet" href= {% static 'nino/css/style.css' %} >
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Cargando...</p>
      </div>
    </div>
    <div class="page"><a class="banner banner-top" href="https://www.templatemonster.com/website-templates/monstroid2.html" target="_blank"></a>
      <header class="section page-header rd-navbar-transparent-wrap">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="44px" data-xl-stick-up-offset="44px" data-xxl-stick-up-offset="44px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">

            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                      <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-293x44.png" alt="" width="146" height="22"/><img class="brand-logo-light" src="images/logo-inverse-310x44.png" alt="" width="155" height="22"/></a>
                    </div>
                  </div>
                  <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                      <ul class="rd-navbar-nav">
                        <li class="rd-nav-item"><a class="rd-nav-link" href="/">Inicio</a>
                        </li>
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="/about">Somos</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="/programas">Programas</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contacto</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="rd-navbar-bg novi-background bg-image" style="background-image: url(images/bg-navbar.)"></div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image novi-background bg-primary">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">About</li>
          </ul>
        </div>
      </section>
      <!-- Our Story-->
      <section class="section section-lg bg-default">
        <div class="container">
          <h2><span class="text-light"></span> Nuestra Historia</h2>
          <div class="row row-30 justify-content-xl-between">
            <div class="col-md-6 col-xl-6">
              <p class="big">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem. Vestibulum non lacus vulputate, placerat ligula ut, dignissim tortor. Nulla facilisi.</p>
              <div class="box-shadow-2">
                <div class="box-shadow-header">
                  <div class="unit flex-column flex-md-row">
                    <div class="unit-left">
                      <div class="heading-5">1987</div>
                    </div>
                    <div class="unit-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem. Vestibulum non lacus vulputate, placerat</p>
                    </div>
                  </div>
                </div><img class="img-responsive" src="images/about-1-569x338.JPG" alt="" width="569" height="169"/>
              </div>
            </div>
            <div class="col-md-6 col-xl-5">
              <ul class="list-lg">
                <li>
                  <div class="heading-5">1999</div>
                  <p class="p-offset-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem. Vestibulum non lacus vulputate, placerat ligula ut, dignissim tortor.</p>
                </li>
                <li>
                  <div class="heading-5">2001</div>
                  <p class="p-offset-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem. Vestibulum non lacus vulputate, placerat ligula ut, dignissim tortor. Nulla facilisi. Curabitur accumsan metus mauris, non iaculis magna pulvinar sit amet. Aenean sagittis purus non egestas eleifend.</p>
                </li>
                <li>
                  <div class="heading-5">2010</div>
                  <p class="p-offset-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Principles-->
      <section class="section section-lg bg-gray-100">
        <div class="container text-center text-lg-left">
          <h2><span class="text-light"></span> Nuestros principios</h2>
          <div class="row row-30 number-counter-2">
            <div class="col-md-4">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Trust</h5>
                  <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a fermentum turpis. Nulla metus diam, feugiat ac lectus vitae, tempus porttitor sem. Vestibulum non lacus vulputate, placerat ligula ut, dignissim tortor.</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Integrity</h5>
                  <div class="content">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-numbered-left unit">
                <div class="unit-left">
                  <div class="index-counter"></div>
                </div>
                <div class="unit-body">
                  <h5 class="title">Honesty</h5>
                  <div class="content">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



<!--prueba-->
<!-- Our team-->
<section class="section section-md">
  <div class="container">
    <div class="row row-50 justify-content-center">
      <div class="col-md col-12 text-center">
        <div class="section-name wow fadeInRight" data-wow-delay=".2s">People Behind Our Success</div>
        <h3 class="wow fadeInLeft text-capitalize" data-wow-delay=".3s">Meet Our<span class="text-primary"> Team</span></h3>
        <p class="block-675">Mi proin sed libero enim sed faucibus. Metus dictum at tempor commodo. Viverra justo nec ultrices dui sapien eget mi. Eget felis eget nunc lobortis.</p>
      </div>
    </div>
    <div class="row row-50 justify-content-center">
      <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
        <div class="team-classic-wrap">
            
          <div class="team-classic-img"><img src= {% static 'nino/images/personal/001.JPG' %} "" alt="" width="370" height="198"/>
          </div>
          <div class="block-320 text-center">
            <h4 class="font-weight-bold">William Johnson</h4><span class="d-block">CEO, Founder</span>
            <p>Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Et pharetra pharetra massa massa ultricies.</p>
            <hr class="offset-top-40"/>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
        <div class="team-classic-wrap">
          <div class="team-classic-img"><img src= {% static 'nino/images/personal/002.JPG' %}  alt="" width="370" height="198"/>
          </div>
          <div class="block-320 text-center">
            <h4 class="font-weight-bold">William Johnson</h4><span class="d-block">CEO, Founder</span>
            <p>Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Et pharetra pharetra massa massa ultricies.</p>
            <hr class="offset-top-40"/>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
        <div class="team-classic-wrap">
          <div class="team-classic-img"><img src= {% static 'nino/images/personal/003.JPG' %}  alt="" width="370" height="198"/>
          </div>
          <div class="block-320 text-center">
            <h4 class="font-weight-bold">William Johnson</h4><span class="d-block">CEO, Founder</span>
            <p>Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Et pharetra pharetra massa massa ultricies.</p>
            <hr class="offset-top-40"/>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
        <div class="team-classic-wrap">
          <div class="team-classic-img"><img src= {% static 'nino/images/personal/004.JPG' %}  alt="" width="370" height="198"/>
          </div>
          <div class="block-320 text-center">
            <h4 class="font-weight-bold">William Johnson</h4><span class="d-block">CEO, Founder</span>
            <p>Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Et pharetra pharetra massa massa ultricies.</p>
            <hr class="offset-top-40"/>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
        <div class="team-classic-wrap">
          <div class="team-classic-img"><img src= {% static 'nino/images/personal/005.JPG' %}  alt="" width="370" height="198"/>
          </div>
          <div class="block-320 text-center">
            <h4 class="font-weight-bold">William Johnson</h4><span class="d-block">CEO, Founder</span>
            <p>Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Et pharetra pharetra massa massa ultricies.</p>
            <hr class="offset-top-40"/>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
        <div class="team-classic-wrap">
          <div class="team-classic-img"><img src= {% static 'nino/images/personal/006.JPG' %}  alt="" width="370" height="198"/>
          </div>
          <div class="block-320 text-center">
            <h4 class="font-weight-bold">William Johnson</h4><span class="d-block">CEO, Founder</span>
            <p>Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Et pharetra pharetra massa massa ultricies.</p>
            <hr class="offset-top-40"/>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-10 wow fadeInLeft" data-wow-delay=".3s">
        <div class="team-classic-wrap">
          <div class="team-classic-img"><img src= {% static 'nino/images/personal/007.JPG' %}  alt="" width="370" height="198"/>
          </div>
          <div class="block-320 text-center">
            <h4 class="font-weight-bold">William Johnson</h4><span class="d-block">CEO, Founder</span>
            <p>Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Et pharetra pharetra massa massa ultricies.</p>
            <hr class="offset-top-40"/>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-10 wow fadeInUp" data-wow-delay=".3s">
        <div class="team-classic-wrap">
          <div class="team-classic-img"><img src= {% static 'nino/images/personal/008.JPG' %}  alt="" width="370" height="198"/>
          </div>
          <div class="block-320 text-center">
            <h4 class="font-weight-bold">Jane McMillan</h4><span class="d-block">Business Advisor</span>
            <p>Ut morbi tincidunt augue interdum velit. Sed euismod nisi porta lorem nisl rhoncus mattis rhoncus urna sed.</p>
            <hr class="offset-top-40"/>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-10 wow fadeInRight" data-wow-delay=".3s">
        <div class="team-classic-wrap">
          <div class="team-classic-img"><img src= {% static 'nino/images/personal/003.JPG' %}  alt="" width="370" height="198"/>
          </div>
          <div class="block-320 text-center">
            <h4 class="font-weight-bold">Robert Smith</h4><span class="d-block">Marketing Manager</span>
            <p>Vitae aliquet nec ullamcorper sit amet risus nullam eget felis. Euismod lacinia at quis risus sed vulputate.</p>
            <hr class="offset-top-40"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<footer class="section footer-classic">
  <div class="footer-inner-1">
    <div class="container">
      <div class="row row-40">
        <div class="col-md-5 col-lg-3">
          <h5>Contacto</h5>
          <ul class="contact-list font-weight-bold">
            <li>
              <div class="unit unit-spacing-xs">
                <div class="unit-left">
                  <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                </div>
                <div class="unit-body">Iglesia Palabra en Acción <br>San Marcos, Guatemala</div>
              </div>
            </li>
            <br>
            <br>
            <li>
              <div class="unit unit-spacing-xs">
                <div class="unit-left">
                  <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                </div>
                <div class="unit-body"><a href="tel:#">+502 7760-1126 <br> +502 5158-7828 </a></div>
              </div>
            </li>
            <br>
            <br>
            <li>
              <div class="unit unit-spacing-xs">
                <div class="unit-left">
                  <div class="icon icon-sm icon-primary novi-icon mdi mdi-email"></div>
                </div>
                <div class="unit-body"> canica.sanmarcos@gmail.com </a></div>
              </div>
            </li>


        </div>
        <div class="col-md-6 col-lg-5">
          <h5>Menú Rápido</h5>
          <div class="row row-5 justify-content-between">
            <div class="col-sm-6">
              <ul class="footer-list big">
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Somos</a></li>
                <li><a href="#">Programas</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="/contact">Contacto</a></li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <h5>Patrocinadores</h5>
          <div class="row row-30 align-items-center text-center">
            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-1-144x70.png" alt="" width="144" height="35"/></a></div>
            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-2-121x68.png" alt="" width="121" height="34"/></a></div>
            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-3-121x33.png" alt="" width="121" height="16"/></a></div>
            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-4-101x76.png" alt="" width="101" height="38"/></a></div>
            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-5-107x53.png" alt="" width="107" height="26"/></a></div>
            <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-6-97x52.png" alt="" width="97" height="26"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-inner-2">
    <div class="container">
      <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Made with  <a href="https://www.templatemonster.com"> in  Guatemala</a></p>
    </div>
  </div>
</footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src= {% static 'nino/js/core.min.js' %} ></script>
    <script src= {% static 'nino/js/script.js' %} ></script>
  </body>
</html>
