<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Canica</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     {% load static  %} 
    <link rel="icon" href= {% static 'nino/images/favicon.ico' %} type="image/x-icon">
    <link rel="stylesheet" type="text/css" href= {% static 'nino///fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900' %}  "">
    <link rel="stylesheet" href= {% static 'nino/css/bootstrap.css' %} >
    <link rel="stylesheet" href= {% static 'nino/css/fonts.css' %} >
    <link rel="stylesheet" href= {% static 'nino/css/style.css' %} >
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Cargando...</p>
      </div>
    </div>
    <div class="page"><a class="banner banner-top" href="https://www.templatemonster.com/website-templates/monstroid2.html" target="_blank"></a>
      <header class="section page-header rd-navbar-transparent-wrap">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px" data-xxl-stick-up-offset="20px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">

            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                  <!--RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!--RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!--RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                      <!--logo de la  institucion--><!--<a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-293x44.png" alt="" width="146" height="22"/><img class="brand-logo-light" src="images/logo-inverse-310x44.png" alt="" width="155" height="22"/></a>-->
                    </div>
                  </div>
                  <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                      <ul class="rd-navbar-nav">
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Inicio</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="/about">Somos</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="/programas">Programas</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="/contact">Contacts</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="/noticias">Noticias</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--Swiper-->
      <section class="section swiper-container swiper-slider swiper-slider-1 context-dark" data-loop="true" data-autoplay="5000" data-simulate-touch="false">
        <div class="swiper-wrapper">
            
          <div class="swiper-slide" data-slide-bg= {% static 'nino/images/header1.JPG' %} >
            <div class="swiper-slide-caption section-lg">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                    <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100">Professional Accounting</span><span class="d-block text-light" data-caption-animate="fadeInUp" data-caption-delay="200">& Tax Services</span></h1>
                    <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">Providing every client with the attention they deserve.</p>
                    <!--<div class="button-wrap-default" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="#">Read more</a></div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide" data-slide-bg= {% static 'nino/images/he2.JPG' %}>
            <div class="swiper-slide-caption section-lg">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                    <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100">Full Accounting Support</span><span class="d-block text-light" data-caption-animate="fadeInUp" data-caption-delay="200">for Your Business</span></h1>
                    <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">Get rid of any accounting issues with our team’s assistance.</p>
                    <!--<div class="button-wrap-default" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="#">Read more</a></div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide" data-slide-bg= {% static 'nino/images/he.JPG' %} >
            <div class="swiper-slide-caption section-lg">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                    <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100">#1 Tax Services Provider</span><span class="d-block text-light" data-caption-animate="fadeInUp" data-caption-delay="200">Since the Late 1990s</span></h1>
                    <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">We offer specialist tax knowledge and full 24/7 support.</p>
                    <!--<div class="button-wrap-default" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="#">Read more</a></div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Swiper Pagination-->
        <div class="swiper-pagination-wrap">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Download Our Tax Guide App-->
      <section class="section bg-gray-100 box-image-left">
        <div class="container">
          <div class="row">
            <div class="col-md-6 wow fadeInLeft">
              <div class="section-lg section-lg-top-100">
                <h2 class="title-icon title-icon-2"><span class="icon icon-default mercury-icon-touch"></span><span>Quienes somos <br><span class="text-light"><!--aqui se puede poner un subtituloTax Guide App--></span></span></h2>
                <p class="big">Canica es una institución no lucrativa, con el fin de ayudar a niños y a niñas que se encuentran en situaciones desfavorables. En donde se les brinda abrigo, alimentación, educación, salud, recreación, orientación biblica, formación humana y orientación ocupacional.</p>
                <!--<div class="group-sm group-wrap-2"><a class="button button-primary" href="#">Get iOS app</a><a class="button button-icon button-icon-right button-secondary" href="#"><span>Get Android app</span><span class="icon fa fa-android"></span></a></div>-->
              </div>
            </div>
          </div>
        </div>
        
        <div class="box-image-item box-image-video novi-background bg-image" style="background-image: url({% static 'nino/images/001.JPG' %})"><a class="icon novi-icon fa fa-caret-right" href="//www.youtube.com/watch?v=OFy6ZVuDlJw" data-lightgallery="item"></a></div>
      </section>

      <!--Icon List 2-->
      <section class="section section-sm section-sm-bottom-100 bg-primary">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 wow fadeInUp">
              <div class="box-icon-2">
                <div class="icon novi-icon mercury-icon-calc"></div>
                <h5 class="title">Visión</h5>
                <p class="text" align="justify">Que los niños, niñas y adolescentes puedan encontrar en CANICA un refugio donde reciban atención integral, preparándolos para el futuro.</p>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="box-icon-2">
                <div class="icon novi-icon mercury-icon-chart"></div>
                <h5 class="title">Misión</h5>
                <p class="text" align="justify">Brindar atención Integral a los niños, niñas y adolescentes que se encuentran en estado de riesgos diversos, huérfanos y abandonados, bajo el perfil de ingresos de niños y niñas de cero a siete años de edad.</p>
              </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
              <div class="box-icon-2">
                <div class="icon novi-icon mercury-icon-time-sand"></div>
                <h5 class="title">Nuestro lema</h5>
                 <p class="text" align="justify" >Ayudanos a ayudar </p>
              </div>
            </div>
          </div>
        </div>
      </section>



<!--noticias-->
<section class="section-lg bg-default">
  <div class="container wow-outer">
    <h2 class="text-center wow slideInDown">Noticias</h2>
    <br>
    <br>
    <!-- Owl Carousel-->
    <div class="owl-carousel wow fadeInUp" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false">
     
      
     
      
         

            
            
            
            
      <div class="post-corporate"><a class="badge" href="#">Nov 10, 2019</a>
        <h4 class="post-corporate-title"><a href="#">Types of Italian Sausage and Why They Are Different</a></h4>
        <div class="post-corporate-text">
          <p>There are many types of Italian sausage. The main difference in Italian sausage when compared to other sausages is the seasoning. The particular...</p>
        </div><a class="post-corporate-link" href="#">Read more<span class="icon linearicons-arrow-right"></span></a>
      </div>
    </div>
  </div>
</section><a class="section section-banner" href="https://www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/background-03-1920x310.jpg); background-image: -webkit-image-set( url(images/banner/background-03-1920x310.jpg) 1x, url(images/background-03-3840x620.jpg) 2x )"></a>



      <footer class="section footer-classic">
        <div class="footer-inner-1">
          <div class="container">
            <div class="row row-40">
              <div class="col-md-5 col-lg-3">
                <h5>Contacto</h5>
                <ul class="contact-list font-weight-bold">
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                      </div>
                      <div class="unit-body">Iglesia Palabra en Acción <br>San Marcos, Guatemala</div>
                    </div>
                  </li>
                  <br>
                  <br>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                      </div>
                      <div class="unit-body"><a href="tel:#">+502 7760-1126 <br> +502 5158-7828 </a></div>
                    </div>
                  </li>
                  <br>
                  <br>
                  <li>
                    <div class="unit unit-spacing-xs">
                      <div class="unit-left">
                        <div class="icon icon-sm icon-primary novi-icon mdi mdi-email"></div>
                      </div>
                      <div class="unit-body"> canica.sanmarcos@gmail.com </a></div>
                    </div>
                  </li>


              </div>
              <div class="col-md-6 col-lg-5">
                <h5>Menú Rápido</h5>
                <div class="row row-5 justify-content-between">
                  <div class="col-sm-6">
                    <ul class="footer-list big">
                      <li><a href="/">Inicio</a></li>
                      <li><a href="/about">Somos</a></li>
                      <li><a href="#">Programas</a></li>
                      <li><a href="#">Galeria</a></li>
                      <li><a href="/contact">Contacto</a></li>

                    </ul>
                  </div>

                </div>
              </div>
              <div class="col-md-12 col-lg-4">
                <h5>Patrocinadores</h5>
                <div class="row row-30 align-items-center text-center">
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-1-144x70.png" alt="" width="144" height="35"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-2-121x68.png" alt="" width="121" height="34"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-3-121x33.png" alt="" width="121" height="16"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-4-101x76.png" alt="" width="101" height="38"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-5-107x53.png" alt="" width="107" height="26"/></a></div>
                  <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="images/footer-1-brand-6-97x52.png" alt="" width="97" height="26"/></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-inner-2">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Made with  <a href="https://www.templatemonster.com"> in  Guatemala</a></p>
          </div>
        </div>
      </footer>
    </div>
    {% load static %}
    <div class="snackbars" id="form-output-global"></div>
    <script src= {% static 'nino/js/core.min.js' %} ></script>
    <script src= {% static 'nino/js/script.js' %} ></script>
    <!--coded by Starlight-->
  </body>
</html>
